$navigation-font:  'Montserrat', Arial, Helvetica, sans-serif;  
$primary-white-color: #ffff;
$primary-dark-color: #333333;
$description-color: #999999;
$hover-color: #ff5555;
$before-color: #fce38a;
$after-color: #f38181;
$page-style-color: #43ffc7;

